h2 {
    text-align: center;
    position:absolute; top: 100px; left: 300px;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gradient {
    background: linear-gradient(
        45deg,
  #feda75,
  #fa7e1e,
  #d62976,
  #962fbf,
  #4f5bd5
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.logo {
    width: 100px;
    position:absolute; top:70px; left:100px;
    

}

.login {
    position: absolute; top:340px; left:902px;
    color: white;
    background-color: rgb(7, 118, 237);
    width: 325px;
    height: 30px;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    
    
}
.singup {
    position: absolute; top:500px; left:902px;
    color: rgb(61, 145, 255);
    background-color: hsl(0, 0%, 100%);
    width: 325px;
    height: 30px;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    border-radius: 15px;
    border: 1px solid rgb(61, 145, 255);
    

}

.email {
    position: absolute; top:230px; left:900px;
    font-size: 15px;
    width: 325px;
    height: 40px;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.password {
    position: absolute; top:280px; left:900px;
    width: 325px;
    height: 40px;
    border-radius: 12px;
    font-size: 15px;
    border: 1px solid rgb(191, 191, 191);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.forgot {
    position:absolute; top: 390px; left:1010px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    
}

.facebook {
    position: absolute; top:465px; left:902px;
    color: rgb(0, 0, 0);
    background-color: hsl(0, 0%, 100%);
    width: 325px;
    height: 30px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    border-radius: 15px;
    border: 1px solid rgb(212, 212, 212);
    

}

.toinsta {
    position:absolute; top: 200px; left:900px;
    color:rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;

}

.meta {
    width: 60px;
    position:absolute; top:550px; left: 1030px;
}

.line {
    width:2px;
    height: 646px;
    background-color: rgb(216, 216, 216);
    position:absolute; top: 0px; left:860px;
    z-index: 3;
}

.stories {
    width: 500px;
    position: absolute; top: 260px; left: 290px;
}

footer {
    background: #ffffff;
    color: rgb(125, 125, 125);
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(216, 216, 216);
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}