* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f6f8;
}


.navbar {
    background-color: #1f1f1f;
    padding: 15px 40px;
}

.brand {
    color: #686868;
    font-size: 18px;
}


.container {
    max-width: 700px;
    margin: 60px auto;
    text-align: center;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}



.todo-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.todo-form input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-btn {
    padding: 10px 18px;
    background-color: #2f74c0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #255ea3;
}



.card {
    background: white;
    border-radius: 6px;
    border: 1px solid #ddd;
    overflow: hidden;
}



.todo-list {
    list-style: none;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}

.todo-item:last-child {
    border-bottom: none;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.completed span {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
}